@using stepik_asp.Models
@model List<ProductViewModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Главная";
}

@await Html.PartialAsync("SearchBlock")

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Каталог товаров</h2>
</div>

<div class="row mt-3">
    @await Html.PartialAsync("ProductsCatalog", Model)
</div>