<div class="text-left">
    <h1>Как с нами связаться</h1>
    <p>
        <h3>Контакты:</h3><br />
        <img src="/img/phone.png">
        <b>Телефон:</b> <a href="tel:+78121234567">7(812)123-45-67</a><br />
        <img src="/img/email.png">
        <b>E-mail:</b> <a href="mailto:mail@onlineshop.ru">mail@onlineshop.ru</a><br />
        <img src="/img/geo.png">
        <b>Адрес:</b> Санкт-Петербург, ул. наб. Лейтенанта Шмидта, д. 45, офис 13<br />
        <img src="/img/contact.png">
        <b>Контактное лицо:</b> Иванов Иван Иванович<br />
        <hr />
        <b>Время работы:</b> пн-вс: 10.00 - 20.00<br />
    </p>


    <a 
        asp-area=""
        asp-controller="home"
        asp-action="index">На главную
    </a>
</div>